<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="header">
      <div class="user_name">
        <span>Username:</span>
        <h2>{{ user_info.username }}</h2>
      </div>
      <div class="user_points">
        <span>Points:</span>
        <h3>{{ user_info.points }}</h3>
      </div>
    </div>
    <div class="body">
      <div class="title">
        <span>Referee list:</span>
      </div>
      <div
        class="referee-container"
        *ngFor="let username of user_info.referee_usernames"
      >
        <span>{{ username }}</span>
      </div>
    </div>
    <div class="footer">
      <app-button [title]="'Logout'" (click)="onLogout()"></app-button>
    </div>
  </div>
</div>
